* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	grid-area: h1;
	font: Roboto;
}

head {
	grid-area: header;
}

#icon-image {
	float: left;
	text-align: right;
	padding: 5px;
	margin: 5px;
}

#header-title {
	color: rgb(215, 236, 20);
	text-align: center left;
}
#header-subtitle {
	color: #ffcc11;
	text-align: center left;
}
#button-return-home {
	grid-area: return;
	float: left;
	margin: 86px;
	margin-left: 247px;
	max-height: 2.5em;
	max-width: 6.5em;
	width: 10.23em;
	border: none;
	padding: .75em 1.25em 1.05em 1.05em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1em;
	font-weight: 100;
	color: whitesmoke;
	background-color: crimson;
}

#button-return-home:hover {
	background-color: #ffcc11;
}

body {
	max-width: 900px;
	margin: auto;
	clear: both;
}

body::after {
	content: "";
	display: block;
	clear: both;
}

.contractForm {
	margin-left: 123px;
	padding-left: 123px;
}

#contractDetailsSection {
	grid-area: details;
}

#commentTextBox {
	grid-area: comment;
	width: 10.3em;
	height: 61px;

	border: 1px solid #ccc;
}

#button-submit-contract {
	grid-area: submit;
	float: left;
	max-height: 2.5em;
	max-width: 6.5em;
	margin-left: 3px;
	margin-top: 61px;
	margin-bottom: 61px;
	width: 10.23em;
	border: none;
	padding: .75em 1.25em 1.05em 1.05em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1em;
	font-weight: 100;
	color: whitesmoke;
	background-color: crimson;
}

#button-submit-contract:hover {
	background-color: #823;
}

footer {
	grid-area: feet;
	max-width: 900px;
	margin: auto;
	clear: both;
}

input[type=text] {
	width: 59.21em;
	height: 51.37px;
	padding: 11px;
	margin: 7px;
	display: inline-block;
	border: 1px dashed #464646;
	border-radius: 16%;
}

input[type=email] {
	width: 59.21em;
	height: 51.37px;
	padding: 11px;
	margin: 7px;
	display: inline-block;
	border: 1px dashed #464646;
	border-radius: 16%;
}

input[type=textarea] {
	width: 59.21em;
	height: 51.37px;
	padding: 11px;
	margin: 7px;
	display: inline-block;
	border: 1px solid #464646;
	border-radius: 16%;
}

input[type=range] {
	width: 59.21em;
	height: 7.37px;
	padding: 11px;
	margin: 7px;
	appearance: none;
	border: 1px dashed #464646;
	border-radius: 16%;
	cursor: pointer;
}

select {
	width: 59.21em;
	height: 51.37px;
	padding: 11px;
	margin: 7px;
	border: 1px dashed #464646;
	border-radius: 16%;
}

.grid-container {
	display: grid;
	grid-template-areas:'header'
						'h1'
						'return'
						'details'
						'comment'
						'submit'
						'feet';
}